{% extends 'index/index.html' %}
{% load static %}

{% block content %}
<div class="row top">
    <div class="col-4"><i id="heart-one" class="fa fa-heart"></i></div>
    <div class="col-4"><i id="heart-two" class="fa fa-heart"></i></div>
    <div class="col-4"><i id="heart-three" class="fa fa-heart"></i></div>
</div>
<form class="form-block">
    <div class="form-group" style="width: 400px;">
        {% comment %} <label for="myId" class="">Your account Id<a href="#">(create one if you dont have)</a></label>
        {% endcomment %}
        <input style="background-color: rgb(234, 241, 243);" type="text" name="crush_id" class="form-control mb-1"
            placeholder="your crush id here" id="crush_id" />

        {% comment %} <label for="link" class="">Choose a contact method (optional) </label> {% endcomment %}
        <span class="link mt-1">
            <select style="background-color: rgb(234, 241, 243);" name="contact" id="contact-type"
                style="display: inline" class="custom-select">

                <option value="facebook">Your facebook Link(optional)</option>
                <option value="number">Phone number</option>

            </select>
            <input style="background-color:rgb(234, 241, 243);" type="text" class="form-control mt-1"
                style="display: inline;" placeholder="Your facebook profile link or phone number" id="link" />
        </span>

        <label style="font-size: 15px;">Would you like your contact to be shown to your crush?</label>
        <input class="checkbox" type="radio" id="yes" value="yes" name="yes_or_no">
        <label for="yes">Yes</label>
        <input class="checkbox" type="radio" id="no" value="no" name="yes_or_no">
        <label for="no">No</label>
        <br>
        <label for="message" class="">Message: </label>
        <textarea style="background-color: lightblue;" type="text" class="form-control"
            placeholder="Drop a message for your crush" id="message"></textarea>
    </div>
    <button type="submit" class="btn btn-submit">Submit request</button>
    <hr>
</form>

<div class="button-row mt-2">
    <div class="row">
        <div class="col-4">
            <a class="btn" href="{% url 'create_id' %}">Create Id</a>
        </div>
        <div class="col-4">
            <a class="btn" href="{% url 'account' %}">Track crushee</a>
        </div>
        <div class="col-4">
            <a class="btn" href="#">Delete account</a>
        </div>
    </div>
</div>
{% endblock content %}